---
apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Values.frontend.name }}-nginx-conf"
  namespace: {{ .Values.frontend.namespace }}
  labels:
    app: {{ .Values.frontend.labels.app }}
data:
  nginx.conf: |
    user  nginx;
    worker_processes auto;
    events { worker_connections 1024; }
    http {
      include /etc/nginx/mime.types;
      default_type application/octet-stream;
      access_log /dev/stdout;
      error_log  /dev/stderr;
      sendfile on;
      keepalive_timeout 65;
      server {
        listen 80;
        location ~ ^/(api|admin|apidocs|flasgger_static|reports|docs)/ {
          proxy_pass http://{{ include "smart-remedy.backendServiceFQDN" . }}:{{ .Values.backend.service.port }};
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
          proxy_set_header X-Forwarded-Proto $scheme;
        }
        location / {
          root /var/www/html;
          try_files $uri $uri/ /index.html;
        }
      }
    }
